﻿
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}


<div class="row">
    
    <div class="col-md-4 offset-4">
        <h2>Iniciar Sesión</h2>
        <br />
        <p>@ViewBag.Validation</p>
        <form method="post" action="/Auth/Login">

            <div class="form-group">
                <label>Usuario</label>
                <input class="form-control" type="text" name="Username" />
            </div>

            <div class="form-group">
                <label>Password</label>
                <input class="form-control" type="password" name="Password" />
            </div>

            <button class="btn btn-primary">Iniciar sesion</button>

        </form>
    </div>

</div>   