﻿@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="row">
    <div class="col-md-4 offset-4">
        <h2>Registro</h2>
        <form method="post" action="/Auth/Registrar">

            <div class="form-group">
                <label>Usuario</label>
                <input class="form-control" type="text" name="Username" />
            </div>

            <div class="form-group">
                <label>Password</label>
                <input class="form-control" type="password" name="Password" />
            </div>

            <button class="btn btn-primary">Registrar</button>

        </form>
    </div>

</div>
